COSMOS_URL="..."
COSMOS_KEY="..."
BLOB_ACCOUNT_NAME="..."
BLOB_ACCOUNT_KEY="..."

IBF_API_URL="..."
IBF_API_USER="..."
IBF_API_PASSWORD="..."

DELTARES_FTP_URL="..."
DELTARES_FTP_USER="..."
DELTARES_FTP_PASSWORD="..."

GLOSSIS_FTP="..."
GLOSSIS_USER="..."
GLOSSIS_PW="..."